/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contained{
    width: 60%;
}

/* COMMON */
.dashed{
    border: 2px dashed black;
}

/* HEADER */
header{
    height: 70px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;   
     
}

.navbar{
    display: flex;
    background-color: orange;
}

.navbar > div {
    padding: 5px;
}

.logo , .login{
    width: 25%;
    
}

.header-links{
    width: 50%;
    text-align: center;
}

.login{
    text-align: right;
}

/* MAIN */

/* LANDING */

.landing{
    background-color: blue;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-menu{
    height: 70%;
    width: 50%;
    background-color: hotpink;
}

/* PAGES */

.page{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgrey{
    background-color: lightgray;
}

.artwork{
    background-color: cornflowerblue;
    height: 70%;
    width: 60%;
}

.infotext{
    height: 70%;
    width: 40%;
    background-color: lightpink;
}

.reverse{
    flex-direction: row-reverse;
}